In [1]:
#dl.ipynb
#
#by Joe Hahn
#jmh.datasciences@gmail.com
#24 January 2018

In [2]:
#import matplotlib pandas etc
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np
import pandas as pd
from matplotlib import rcParams
sns.set(font_scale=1.5, font='DejaVu Sans')
pd.set_option('display.max_columns', None)
pd.set_option('display.height', None)
pd.set_option('display.width', None)
import time
time_start = time.time()

height has been deprecated.

In [3]:
#read 'chunks' dataframe; each record contains a random 100-word-long chunk of text from one of 89
#books from the gutenberg project
import pickle
with open('chunks.pkl', 'rb') as fp:
    chunks = pickle.load(fp)
print 'number of records = ', len(chunks)
print 'number of books = ', len(chunks['input_file'].unique())
chunks.head()

number of records =  126114
number of books =  89

,author,author_id,title,input_file,text_chunk
53137,Thomas Bulfinch,79,Bulfinch'S Mythology,iso/etext04/bllfn10.txt,shield prove thee the same who spread such sla...
15081,Herman Melville,38,Moby Dick,iso/etext01/moby11.txt,No dignity in whaling? The dignity of our call...
122479,Carl Von Clausewitz,11,On War,iso/etext99/1onwr10.txt,to that amphibious organisation which we call ...
34719,Immanuel Kant,42,The Critique Of Pure Reason,iso/etext03/cprrn10.txt,which I have named figurative synthesis. This ...
103631,Miquel De Cervantes,62,Don Quixote,iso/etext97/1donq10.txt,"of our vigils, lust and lewdness by the loyalt..."

In [4]:
#show titles and number of chunks
#need to fix Austnn & Jane Austen
N = pd.DataFrame(chunks.groupby(['author', 'title', 'input_file'])['text_chunk'].count()).reset_index()\
    .sort_values('author')
N = N.rename(columns={'text_chunk':'N_chunks'})
N.head()

,author,title,input_file,N_chunks
0,A.H. Clough,Plutarch's Lives,iso/etext96/plivs10.txt,2200
1,Adam Smith,Wealth Of Nations,iso/etext02/wltnt10.txt,2200
2,Adams,The Education Of Henry Adams,iso/etext00/eduha10.txt,1260
3,Anne C. Lynch Botta,Handbook Of Universal Literature,iso/etext05/8unlt10.txt,1699
4,Anthony Trollope,The Last Chronicle Of Barset,iso/etext02/lacob11.txt,2200

In [5]:
#select 10 books
records = pd.DataFrame()
old_ids = [11, 78, 81, 8, 10, 20, 30, 40, 50, 70]
old_ids = [11, 78, 81, 8, 10, 20, 30, 40, 50, 70, 5, 15, 25, 35, 45, 55, 65, 75, 85, 88]
for new_id in range(len(old_ids)):
    idx = chunks['author_id'] == old_ids[new_id]
    df = chunks[idx].copy()
    df['author_id'] = new_id
    records = records.append(df, ignore_index=True)
records = records.sample(frac=1.0)
print records['title'].unique()
print 'number of records = ', len(records)
records.head(20)

['Private Life Of Napoleon' 'The Junior Classics' 'Howards End'
 'Cyropaedia' 'Sister Carrie' 'The Complete Poetical Works of Percy Bysshe'
 'Ulysses' 'Rob Roy' 'The Caxtons' 'Life Of Luther'
 'Forbidden Gospels and Epistles, Complete' 'The Iliad' 'She'
 'Science & Education' 'The Zambesi Expedition' 'The Rosary' 'Little Women'
 'Unbeaten Tracks In Japan' 'On War' 'History Of American Literature']
number of records =  23164

,author,author_id,title,input_file,text_chunk
12046,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,"marshal of France, the defense of one of the f..."
12852,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,"indirectly sounded, or even openly solicited, ..."
21872,Various,18,The Junior Classics,iso/etext04/8jrc710.txt,"as he could not write, was taken down at his d..."
11045,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,"age. In his youth he had lived in France, and ..."
13244,E. M. Forster,12,Howards End,iso/etext01/hoend10.txt,"admit that, if wealth was divided up equally, ..."
22668,Xenophon,19,Cyropaedia,iso/etext00/cyrus10.txt,"meet the foe?"" [2] Hystaspas took up the chall..."
11397,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,"an enjoyment, from which no other pleasure, ho..."
956,Theodore Dreiser,1,Sister Carrie,iso/etext95/scarr10.txt,"rush of fright, however, the players got over ..."
18339,Percy Bysshe Shelley,16,The Complete Poetical Works of Percy Bysshe,iso/etext03/shlyc10.txt,Of their oracular statues; from two shrines Tw...
14645,James Joyce,14,Ulysses,iso/etext03/ulyss12.txt,of the EXPRESS. Scavenging what the quality le...
20007,"Sir Walter Scott,",17,Rob Roy,iso/etext04/rob3w10.txt,"Mr. Osbaldistone to Luckie Flyter's, at the co..."
12435,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,an apartment used for grand diplomatic recepti...
12625,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,placed it on his head himself. It was a golden...
4098,"Bulwer-Lytton,",4,The Caxtons,iso/etext05/b033w10.txt,the grating wheels thundering low; near and ne...
8344,Julius Koestlin,8,Life Of Luther,iso/etext05/8luth10.txt,on that point the Evangelicals needed no admon...
10680,Archbishop Wake,10,"Forbidden Gospels and Epistles, Complete",iso/etext04/fb10w11.txt,"to them privately, Do not act thus; I have fou..."
4683,"Bulwer-Lytton,",4,The Caxtons,iso/etext05/b033w10.txt,"no answer. ""Lord Castleton has arranged all, s..."
21207,"Sir Walter Scott,",17,Rob Roy,iso/etext04/rob3w10.txt,who had sate at the feet o' his father Solomon...
10992,Constant,11,Private Life Of Napoleon,iso/etext02/nc13v11.txt,prosperity; adversity will find me above the r...
10900,Archbishop Wake,10,"Forbidden Gospels and Epistles, Complete",iso/etext04/fb10w11.txt,God are a broken spirit; a broken and a contri...

In [6]:
#train-test-validate split
train_size = 0.33
validate_size=0.5   #this is the fraction of the test sample that is assigned to the validation sample
rn_seed = 12
from sklearn.model_selection import train_test_split
train, test = train_test_split(records, train_size=train_size, random_state=rn_seed)
validate, test = train_test_split(test, train_size=validate_size, random_state=rn_seed)
print 'records.shape  = ', records.shape
print 'train.shape    = ', train.shape
print 'test.shape     = ', test.shape
print 'validate.shape = ', validate.shape

records.shape  =  (23164, 5)
train.shape    =  (7644, 5)
test.shape     =  (7760, 5)
validate.shape =  (7760, 5)

In [7]:
#confirm that all 90 books have records in the training sample
print len(train['input_file'].unique()), len(records['input_file'].unique())

20 20

In [8]:
#count number of distinct workds in training data...43K
from collections import defaultdict
word_frequency = defaultdict(int)
corpus = train['text_chunk'].tolist()
for doc in corpus:
    words = doc.split(' ')
    for word in words:
        word_frequency[word] += 1
print 'number of distinct words = ', len(word_frequency.keys()) 
for word in word_frequency.keys()[1:7]:
    print word, word_frequency[word]

number of distinct words =  81867
fawn 1
lenitives 1
considered. 2
creeps, 1
vertebr�, 1
Moeris 1

In [14]:
#generate tokenizer
vocabulary_size = 82000#43000
N_inputs = 100
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
tokenizer = Tokenizer(num_words=vocabulary_size)
tokenizer.fit_on_texts(corpus)

In [15]:
#this helper function extracts and tokenizes x, and extracts y and onehot-encodes it
from keras.utils import np_utils
def tokenize(df, tokenizer):
    corpus = df['text_chunk'].tolist()
    corpus_tokenized = tokenizer.texts_to_sequences(corpus)
    corpus_padded = pad_sequences(corpus_tokenized, maxlen=N_inputs)
    x = np.array(corpus_padded)
    y_ids = df['author_id'].values
    y = np_utils.to_categorical(y_ids)
    return x, y

In [16]:
#get training x,y with x-values being tokenized and y values onehot-encoded
x_train, y_train = tokenize(train, tokenizer)
N_inputs = x_train.shape[1]
N_outputs = y_train.shape[1]
print 'x_train.shape = ', x_train.shape
print 'y_train.shape = ', y_train.shape
print 'N_inputs = ', N_inputs
print 'N_outputs = ', N_outputs
print 'vocabulary_size = ', vocabulary_size, x_train.min(), x_train.max()

x_train.shape =  (7644, 100)
y_train.shape =  (7644, 20)
N_inputs =  100
N_outputs =  20
vocabulary_size =  82000 0 36735

In [17]:
#display a training record
idx = 121
print train.iloc[idx]
text_chunk = train.iloc[idx]['text_chunk']
print text_chunk
print x_train[idx]
print y_train[idx]

author                                                    Homer
author_id                                                     7
title                                                 The Iliad
input_file                             iso/etext04/iliad10a.txt
text_chunk    thy now forfeit life? Or that again our camps ...
Name: 7626, dtype: object
thy now forfeit life? Or that again our camps thou may'st explore? No--once a traitor, thou betray'st no more." Sternly he spoke, and as the wretch prepared With humble blandishment to stroke his beard, Like lightning swift the wrathful falchion flew, Divides the neck, and cuts the nerves in two; One instant snatch'd his trembling soul to hell, The head, yet speaking, mutter'd as it fell. The furry helmet from his brow they tear, The wolf's grey hide, the unbended bow and spear; These great Ulysses lifting to the skies, To favouring Pallas dedicates the prize: "Great queen of arms,
[   57  9841   109    41     7   130    61  5048   115 18172  7739    46
   164     5  8537   115 31327    46    53  7532     8   375     2    14
     1  3459   957    12  2556 34105     4  3177    10  4178    60  2166
   774     1 15084  9169  1413  9164     1  1408     2  9935     1  2456
     6    89    39  1513  9068    10  1180   287     4  1132     1   178
   118   914 21899    14    13   326     1 20626  2968    27    10  1568
    33  2368     1 16638  1155  1901     1 33314  1391     2  1311    70
    77  1858  4396     4     1  1229     4 11152  4203 26107     1  1660
    77   621     3   216]
[ 0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]

In [19]:
#show that the vectorized text preserves word order with punctuation dropping 
tokens = []
words_marked = text_chunk.split(' ')[0:8]
words = [word.lower().strip(',').strip('.').strip('"').strip('?') for word in words_marked]
tokens = [tokenizer.word_index[word] for word in words]
print words
print tokens

['thy', 'now', 'forfeit', 'life', 'or', 'that', 'again', 'our']
[119, 57, 9841, 109, 41, 7, 130, 61]

In [20]:
#get validation x,y with x-values being tokenized and y values onehot-encoded
x_valid, y_valid = tokenize(validate, tokenizer)
print 'x_valid.shape = ', x_valid.shape
print 'y_valid.shape = ', y_valid.shape

x_valid.shape =  (7760, 100)
y_valid.shape =  (7760, 20)

In [21]:
#display a validation record
idx = 123
print validate.iloc[idx]
print validate.iloc[idx]['text_chunk']
print x_valid[321]
print y_valid[321]

author                                                     Bird
author_id                                                     3
title                                  Unbeaten Tracks In Japan
input_file                              iso/etext00/utrkj10.txt
text_chunk    dance, in which men alone take part. Yells and...
Name: 2751, dtype: object
dance, in which men alone take part. Yells and shouts are used to excite the bear, and when he becomes much agitated a chief shoots him with an arrow, inflicting a slight wound which maddens him, on which the bars of the cage are raised, and he springs forth, very furious. At this stage the Ainos run upon him with various weapons, each one striving to inflict a wound, as it brings good luck to draw his blood. As soon as he falls down exhausted, his head is cut off, and the weapons with which he has been wounded are
[   23     1   341     3    45 13362  3267    21     9   346    87  1638
    13     6     1  1816   105   100    36   129  1940    91    65  4557
     9    34     5  6152   283   120    20     9   532    19  6707     4
   132    23     4     9   537     7    13    16    19   213 31397     2
  1587    96  1037     2   504     1 11470   530   112    56  1587     2
     1  1940   540   102 11201  1344     2  2156    86     5   292   180
     3  3742   877  1940 10505    48   203    12     5 20639  3852  1938
     1   126     4     1   715   602  3937     5   197     2   302     1
  8995     4     5   292]
[ 0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]

In [25]:
#this LSTM model was adapted from 
#http://www.developintelligence.com/blog/2017/06/practical-neural-networks-keras-classifying-yelp-reviews
from keras.layers import Embedding, LSTM, Dense, Dropout, Conv1D, MaxPooling1D
from keras.models import Sequential
def build_lstm_model(N_inputs, N_outputs, vocabulary_size, embedding_vector_length, conv_kernel_size, dropout_fraction):
    model = Sequential()
    model.add(Embedding(vocabulary_size, embedding_vector_length, input_length=N_inputs))
    conv_layer_size = embedding_vector_length/2
    model.add(Conv1D(conv_layer_size, conv_kernel_size, activation='relu'))
    model.add(Dropout(dropout_fraction))
    pool_size = int(conv_kernel_size/2)
    model.add(MaxPooling1D(pool_size=pool_size))
    lstm_size = int(embedding_vector_length/2)
    model.add(LSTM(lstm_size, activation='tanh')) #try linear, tanh, relu
    model.add(Dropout(dropout_fraction))
    model.add(Dense(N_outputs, activation='sigmoid'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [26]:
#assemble lstm model
N_training_epochs = 50
batch_size = 1000
embedding_vector_length = 300
conv_kernel_size = 50
dropout_fraction = 0.3
rn_seed = 16
print 'N_training_epochs = ', N_training_epochs
print 'batch_size = ', batch_size
print 'number of training + validation samples = ', x_train.shape[0] + x_valid.shape[0]
print 'vocabulary_size = ', vocabulary_size
print 'embedding_vector_length = ', embedding_vector_length
print 'conv_kernel_size = ', conv_kernel_size
print 'dropout_fraction = ', dropout_fraction
print 'N_inputs = ', N_inputs, x_train.shape[1]
print 'N_outputs = ', N_outputs, y_train.shape[1]
print 'rn_seed = ', rn_seed
import random
random.seed(rn_seed)
lstm_model = build_lstm_model(N_inputs, N_outputs, vocabulary_size, embedding_vector_length, conv_kernel_size,
    dropout_fraction)

N_training_epochs =  50
batch_size =  1000
number of training + validation samples =  15404
vocabulary_size =  82000
embedding_vector_length =  300
conv_kernel_size =  50
dropout_fraction =  0.3
N_inputs =  100 100
N_outputs =  20 20
rn_seed =  16

In [ ]:
#fit model to the training data...this takes X minutes on g2.2xl instance
from time import time
from keras.callbacks import TensorBoard
tensorboard = TensorBoard(log_dir="logs/{}".format(time()))
fit_history = lstm_model.fit(x_train, y_train, epochs=N_training_epochs, batch_size=batch_size, verbose=0, \
    validation_data=(x_valid, y_valid), callbacks=[tensorboard])

In [ ]:
#plot accuracy vs training epoch
fig, ax = plt.subplots(1,1, figsize=(15, 6))
xp = fit_history.epoch
yp = fit_history.history['acc']
ax.plot(xp, yp, label='training sample')
yp = fit_history.history['val_acc']
ax.plot(xp, yp, label='validation sample')
ax.set_title('classifier accuracy versus epoch')
ax.set_ylabel('accuracy')
ax.set_xlabel('training epoch')
ax.legend()
plt.savefig('figs/accuracy.png')

In [ ]:
#plot loss function vs training epoch
fig, ax = plt.subplots(1,1, figsize=(15, 6))
xp = fit_history.epoch
yp = fit_history.history['loss']
ax.plot(xp, yp, label='training sample')
yp = fit_history.history['val_loss']
ax.plot(xp, yp, label='validation sample')
ax.set_title('loss function versus epoch')
ax.set_ylabel('loss function')
ax.set_xlabel('training epoch')
ax.legend()
plt.savefig('figs/loss.png')

In [ ]:
#model.predict(x_test)

In [ ]:
#done!
print 'loss fn  = ', fit_history.history['loss'][-1]
print 'accuracy = ', fit_history.history['val_acc'][-1]
time_stop = time.time()
print 'execution time (minutes) = ', (time_stop - time_start)/60.0